body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
a.leaflet-popup-close-button {
  width: 35px !important;
  height: 35px !important;
  font-size: 32px !important;
}
.leaflet-popup-content {
  font-size: 24px !important;
}
.leaflet-popup-content p {
  font-size: 24px !important;
  margin: 12px 0 !important;
}
.controls {
  background: #ffffff;
  position: absolute;
  z-index: 9000;
  right: 10px;
  top: 10px;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
}

details {
  cursor: pointer;
}
details button {
  border: none;
}
summary:hover {
  font-weight: bold;
}
