body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
a.leaflet-popup-close-button {
  width: 35px !important;
  height: 35px !important;
  font-size: 32px !important;
}
.leaflet-popup-content {
  font-size: 24px !important;
}
.leaflet-popup-content p {
  font-size: 24px !important;
  margin: 12px 0 !important;
}
.leaflet-tooltip-pane {
  font-weight: bold;
  font-size: 14px;
}
.controls {
  background: #ffffff;
  position: absolute;
  z-index: 9000;
  right: 10px;
  top: 10px;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

details {
  cursor: pointer;
}
details ul li button {
  border: none;
  padding: 4px 30px 4px 0px !important;
}
summary {
  display: list-item;
}
summary:hover {
  font-weight: bold;
}
ul {
  margin: 4px;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.x-button {
  padding: 0;
}
p.desc {
  font-size: 16px !important;
  white-space: pre-line;
}
